@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100%;
}

.ql-editor {
  font-size: 1.05rem;
}

.post-content p {
  margin-bottom: 0.5rem;
  color: black;
  text-align: center;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
  text-align: center;
}

.post-content h2 {
  font-size: 1.4rem;
  font-family: sans-serif;
  margin: 1.5rem 0;
  text-align: center;
}

.post-content strong {
  font-size: 1.4rem;
  font-family: sans-serif;
  margin: 1.5rem auto; /* Change margin to auto */
  display: block; /* Make it a block-level element */
  text-align: center; /* Center the text within its container */
}

.post-content a {
  color: rgb(73, 149, 199);
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}

.dark .post-content a {
  color: red;
}

.dark .post-content p {
  color: white;
  background: rgb(16, 23, 42);
}

.dark .post-content h2 {
  color: white;
  background: rgb(16, 23, 42);
  text-align: center;
}

.dark .post-content h1 {
  color: white;
  background: rgb(16, 23, 42);
}
